.homepage {
    padding: 0 4rem; 
    background: var(--gray-100);

}

.cardBooks {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    padding: 3rem 2rem;
    font-family: Roboto, sans-serif;


    .cardContainer {
        background: var(--white);
        padding: 1rem;
        margin: 2rem;
        height: 30rem;
        border-radius: 1rem;
        box-shadow: 0 0 7px 1px #cbcbcb;

        .card {
            .cardImage {
                margin: 2rem 0;
                a {
                 display: flex;
                 justify-content: center;
                 align-items: center;
                }
                
                img {
                    width: 40%;
                }
            }
            .cardContent {
                display: flex;
                align-items: center;
                flex-direction: column;
                gap: 0.5rem; 
    
                h3 {
                    font-size: 1.5rem;
                    font-weight: bold;
                    color: var(--tag-orange);
                    text-align: center;
                }
    
                span {
                    color: var(--gray-200);
                    font-size: 1rem;
                    font-weight: 500;
                    }
    
                
                button {
                    border: 0;
                    background: var(--tag-button);
                    padding: 0.8rem 1rem; 
                    color: var(--white);
                    border-radius: 8px;
                    margin-top: 2rem; 

                    &:hover {
                     filter: brightness(0.9);
                    }
                }
    
            }
    

        }


        

    }
}