.modalContainer {
    background: rgba(0, 0, 0, 0.88);
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .modalContent {
        background: var(--white);
        max-height: 90vh;
        overflow-y: hidden;
        margin-bottom: 10px;
        padding: 30px 35px 60px;
        text-align: left;
        transform: translate3d(0, 0, 0);
        width: 50%;

        .button {
            display: flex;
            justify-content: center;
            button {
                border: 0;
                background: var(--tag-button);
                padding: 0.2rem 0.5rem; 
                color: var(--white);
                border-radius: 8px;
                margin-top: 2rem; 
                padding: 1rem 2rem;
        }
            
        }
       
        
    }
}